alabaster==0.7.12
asn1crypto==0.22.0
astor==0.6.2
Babel==2.6.0
backports.weakref==1.0rc1
beautifulsoup4==4.6.0
bleach==1.5.0
blinker==1.4
buildozer==0.34.dev0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
colorama==0.4.1
cryptography==1.9
cycler==0.10.0
Cython==0.26.1
-e git+https://github.com/thtrieu/darkflow.git@6dddf041fce98b71d3721b74e3363a7f8fc937df#egg=darkflow
decorator==4.3.0
docopt==0.6.2
docutils==0.14
enum34==1.1.6
Flask==0.12.2
Flask-Mail==0.9.1
Flask-WTF==0.12
future==0.16.0
gsw==3.2.0
gym==0.10.5
h5py==2.7.1
html5lib==0.9999999
IbPy2==0.8.0
-e git+https://gitlab.com/doctorj/ibroke.git@dcb04b49b5135b9c38e7721f45ce0ce76b8b0d2d#egg=IBroke
idna==2.5
imagesize==1.1.0
imutils==0.4.3
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.10
Keras==2.1.5
keras-rl==0.4.2
Kivy==1.10.0
Kivy-Garden==0.1.4
kivy.deps.angle==0.1.6
kivy.deps.glew==0.1.9
kivy.deps.gstreamer==0.1.12
kivy.deps.sdl2==0.1.17
labelImg==1.5.2
lxml==3.8.0
mako==1.0.7
Markdown==2.6.8
MarkupSafe==1.0
marshmallow==3.0.0b7
matplotlib==2.0.2
MechanicalSoup==0.10.0
mock==2.0.0
more-itertools==4.1.0
nose==1.3.7
numpy==1.14.1
oandapyV20==0.6.3
olefile==0.44
opencv-python==3.3.1+contrib
packaging==18.0
pandas==0.23.4
patsy==0.5.0
pbr==3.1.1
pexpect==4.2.1
Pillow==4.2.1
plotly==2.5.1
prettytensor==0.7.4
protobuf==3.1.0
ptyprocess==0.5.2
pycparser==2.18
Pydap==3.2.1
pyglet==1.3.2
Pygments==2.2.0
pygpu==0.7.5
PyOpenGL==3.1.0
pyOpenSSL==17.2.0
pyparsing==2.2.0
pypiwin32==219
pyreadline==2.1
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
Quandl==3.3.0
requests==2.18.4
runcython==0.2.5
scikit-learn==0.19.1
scipy==0.19.1
seaborn==0.8.1
selenium==3.5.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snowballstemmer==1.2.1
Sphinx==1.8.3
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
statsmodels==0.8.0
tensorflow==1.0.0
TFANN==1.0.1
Theano==1.0.3
tornado==4.5.2
urllib3==1.22
virtualenv==15.1.0
vispy==0.5.0
webencodings==0.5
WebOb==1.8.1
Werkzeug==0.12.2
win-inet-pton==1.0.1
wincertstore==0.2
WTForms==2.1
